<ion-content>

  <div ng-show="vm.status == 1">
    <div class="row row-center">
      <div class="col col-center">
        <i class="ion-social-freebsd-devil card" ng-click="vm.next()"></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="text-center">{{+vm.number + 1}}号选手点击牌查看角色</h5>
      </div>
    </div>
  </div>

  <div ng-show="vm.status == 2">
    <div class="row row-center">
      <div class="col col-center">
        <i class="ion-social-freebsd-devil card" ng-click="vm.next()"></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="text-center" ng-if="vm.version == 1">{{+vm.number + 1}}号选手的角色是：{{vm.roles[vm.number]}}</h5>
        <h5 class="text-center" ng-if="vm.version == 2">{{+vm.number + 1}}号选手的角色是：上身份——{{vm.roles[vm.number][0]}} | 下身份——{{vm.roles[vm.number][1]}}</h5>

        <p class="text-center">点击牌面隐藏你角色，并传递给下一位选手</p>
      </div>
    </div>
  </div>


  <div ng-show="vm.status == 3">
    <div class="row row-center">
      <div class="col col-center">
        <i class="ion-social-freebsd-devil card" ng-click="vm.nextPage()"></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="text-center">传给法官大人</h5>
      </div>
    </div>
  </div>


</ion-content>
